wget
tgcrypto
tornado
aiosignal
Kurigram==2.2.25
https://github.com/usernein/pyromod/archive/refs/heads/main.zip
pytz
python-dateutil
croniter
python-dotenv
fastapi
uvicorn
httpx[http2]==0.23.3
aiofiles
aiohttp
requests
aiorun
gunicorn==20.1.0
flask
