wget
tgcrypto
uvloop
tornado
aiosignal
Kurigram==2.2.25
kurimod==3.3.0
pytz
python-dateutil
croniter
python-dotenv
fastapi
uvicorn
httpx[http2]==0.23.3
aiofiles
aiohttp
requests
aiorun
gunicorn==20.1.0
flask
